<h1>Location <%= @location.location_id %></h1>
<p>Address: <%= @location.address %></p>
<p>Country: <%= @location.full_country_name %></p>
<p>Risk Score: <%= @location.risk_score %></p>
<%= link_to 'Back', locations_path %>
