<nav class="w-60 bg-[#0052CC] text-white flex flex-col p-4 space-y-3">
  <h2 class="text-lg font-semibold mb-4">Drug Monitor</h2>
  <%= link_to 'Dashboard', root_path, class: 'hover:bg-blue-800 px-3 py-2 rounded' %>
  <%= link_to 'Locations', locations_path, class: 'hover:bg-blue-800 px-3 py-2 rounded' %>
  <%= link_to 'Manufacturers', manufacturers_path, class: 'hover:bg-blue-800 px-3 py-2 rounded' %>
  <%= link_to 'Drugs', drugs_path, class: 'hover:bg-blue-800 px-3 py-2 rounded' %>
  <%= link_to 'Search', locations_path, class: 'hover:bg-blue-800 px-3 py-2 rounded' %>
</nav>
